*{
	/* Universal reset: */
	margin:0px;
	padding:0;
}
header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}
body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	/*color:#fcfcfc;*/
	background-color:#D25A3F;/*ED4D3D*/
	font-family:Arial, Helvetica, sans-serif;
}
/* Hyperlink Styles: */
a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}
a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}
/* Headings: */
h1,h2,h3{
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	text-shadow:0 1px 1px black;
}
h1{
	/* The logo text */
	font-size:3.5em;
	padding:0.5em 108px 0px;
	text-transform:uppercase;
}
article h1
{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}
h3{
	/* The slogan text */
	font-family:forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}
h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}
p{
	line-height:1.5em;
	padding-bottom:1em;
}
.line{
	/* The dividing line: */
	height:1px;
	background-color:#24404c;
	border-bottom:1px solid #416371;
	margin:2em 0;
	overflow:hidden;
}
article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#15242a;
	border-bottom-color:#204656;
	margin:1.3em 0;
}
footer .line{
	margin:2em 0;
}
nav{
	background:url(img/gradient_light.jpg) repeat-x 50% 50% #f8f8f8;
	padding:0 5px;
	position:absolute;
	margin-right: 130px;
	margin-left: 115px;
	margin-top: -30px;	
	right:0;
	top:4em;
	
	border:1px solid #FCFCFC;
	-moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;
}
button{
	border: none;	
	height: 30px;
	width: 30px;
	background: #D25A3F;
}
}
/* The clearfix hack to clear the floats: */
.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* The navigation styling: */
nav ul li{
	display:inline;
}
nav ul li a,
nav ul li a:visited{
	color:#565656;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px white;
	text-transform:uppercase;
}
nav ul li a:hover{
	text-decoration:none;
	background-color:#f0f0f0;
}
nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
/* Article styles: */
#page{
	width:auto;
	margin:0 auto;
	position:relative;
}
article{
	background-color:white;
	margin:3em 0;
	padding:20px;
	min-height: 500px;
	/*text-shadow:0 2px 0 black;*/
}
figure{
	border:3px solid #142830;
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:500px;
}
figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}
figure img{
	margin-left:-60px;
}
/* Footer styling: */
footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}
footer p{
	margin-bottom:-2.5em;
	position:relative;
}
footer a,footer a:visited{
	color:#cccccc;
	background-color:#213e4a;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}
footer a:hover{
	text-decoration:none;
	background-color:#142830;
}
footer a.by{
	float:left;
}
footer a.up{
	float:right;
}
#content1234{
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}
#main_search{
	padding-left:960px;
	padding-top: 2px;
	height: 85px;
	background: #D25A3F;
}
#main_search1234{
	padding-left:40%;
	padding-top: 0%;
	height: 230px;
	background: #D25A3F;
	display: none;
	font-size: 26px;
	color: white;
}
#main_search1235{
	padding-left:40%;
	padding-top: 0%;
	height: 225px;
	background: #D25A3F;
	display: none;
	font-size: 26px;
	color: white;
}
#content123{
	width: 750px;
	padding-left: 20px;
}
#search_khung{
	margin-top: 25px;
	
	margin-right: 20%;
	height: 30px;
	moz-box-align:center;

}
#search_khung1{
	margin-top: 10px;
	
	margin-right: 20%;
	height: 30px;
	moz-box-align:center;
	display: none;
}
##search_khung2{
	margin-top: 10px;
	
	margin-right: 20%;
	height: 30px;
	moz-box-align:center;
}
#search_khung3{

	
	margin-right: 20%;
	height: 30px;
	moz-box-align:center;
	display: none;
}
#search_center{
	position: absolute;
	margin-top: -35px;
	margin-left: 25px;
	border: none;
}
.img-search{
	margin-left: 224px;
	margin-top: -32px;
	width: 0px;
	height:0px;
	/*border: none;*/
	color: white;
	background: #D25A3F;
}
#search123{
	border: none;
	font-size: 14px;
	height: 30px;
	margin-top: 20px;
	font-size: 18px;
	text-align: center;
	width: 303px;
	
}
#searchnamea{
	border: none;
	font-size: 14px;
	height: 30px;
	margin-top: 20px;
	font-size: 18px;
	text-align: center;
	width: 303px;
}
#searchname{
	border: none;
	font-size: 14px;
	height: 30px;
	margin-top: 20px;
	font-size: 18px;
	text-align: center;
	width: 303px;
}
#searchnameschool{
	border: none;
	font-size: 14px;
	height: 30px;
	margin-top: 52px;
	font-size: 18px;
	text-align: center;
	width: 303px;
}
#main_body_123{
	background: #f7f7f7;
	padding-left: 25px;
	padding-right: 25px;
	/*padding-top: 5px;*/
}
#page-header{
	background: #D25A3F;
}
#table-canle{
	margin-left: 400px;
	font-size: 16px;
	/*background: #F7F7F7;*/
	width: 840px;
	height: 40px;
	margin-top: -20px;
	text-align: center;
}
/*#table-canle:hover{
	background: white;
}*/
#td{
	background: #F7F7F7;
	width: 190px;
}
#td:hover{
	background: white;
}
#school-address{
	margin-top: 5px;
	margin-left: 50px;
	margin-right: 50px;
	background: white;
}
#school-address1{
	margin-top: 5px;
	margin-left: 10px;
	font-size: 24px;
}
#main-tr1{
	font-size: 18px;
	margin-left: 20px;
}
#main-td1{
	width: 450px;
	/*margin-left: 30px;*/
}
#main-td2{
	width: 450px;
}
#main-table{
margin-left: 40px;
}
#table123{
	margin-left: -42px;
	/*margin-right: 0px;*/
	font-size: 18px;
	margin-top: -22px;
	/*width: 380px;*/
}

#tabl-tr{
	width: 760px;
}
#tabl-td{
	width: 380px;
	background: #F7F7F7;
	height: 50px;
	text-align: center;
}
#tabl-td1{
	width: 380px;
	background: white;
	height: 50px;
	text-align: center;
}

#tabl-td2{
	width: 380px;
	background: #F7F7F7;
	height: 50px;
	text-align: center;
}

/*#tabl-td:hover{
	color: red;	
	background: white;
}*/
#solution0:visited{
	background: white !important;
	color: #D25A3F;
}
#div1234{
	margin-left: 390px;
	width: 760px;
}
#sol{
	width: 380px;
}
#canvitri{
	margin-left: 50px;
	margin-top: -20px;
	background: #D25A3F;
}
#test-search{
	width: 30px;
	height: 30px;
	background: #D25A3F;
}
#mainsearch{
	text-align: center;
}
#mainsearchteacher{

	width: 220px;
	height: 70px;
	text-align: center;
	font-size: 18px;
	margin-top: 2%;
	margin-left: 29%;
	border: 1px gray solid;
	background: white;
}
#mainsearchschool{
	width: 220px;
	height: 70px;
	font-size: 18px;
	margin-left: 55%;
	margin-top: -72px;
	border: 1px gray solid;
	background: white;
	text-align: center;
}
#search1{
	font-size: 28px;
	color: white;
	text-align: center;
}
#search2{
	font-size: 28px;
	color: white;
	text-align: center;
	display: none;
}
#search3{
	font-size: 28px;
	color: white;
	text-align: center;
	display: none;
}
#span1{
	color: #80DC16;
}
#butsearch{
	width: 303px;
	height: 30px;
	margin-top: 20px;
	background: white;
	/*margin-left: 20%;*/
}
#cancel{
	font-size: 14px;
	margin-top: 15px;
	margin-left: 124px;
}

#replace{
	border: 1px gray solid;
	width: 80px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	font-size: 24px;
	background: white;
	margin-left: 92%;
	margin-top: -50px;
}
#replace:hover{
	background: ##F7F7F7;	
}
#searchteacherbyname{
	margin-left: 1%;
	margin-top: 10px;
	width: 125px ;
	height: 40px;
	font-size: 24px;
	border: 1px gray solid;
	text-align: center;
	border-radius: 25px;
	background: white;
	color: black;
}
#searchteacherbyname:hover{
	background: #80DC16;
	color: white;
}
#searchteacherbyschool{
	margin-left: 23%;
	margin-top: -43px;
	width: 125px ;
	height: 40px;
	font-size: 24px;
	border: 1px gray solid;
	text-align: center;
	border-radius: 25px;
	background: white;
	color: black;
}
#searchteacherbyschool:hover{
	background: #80DC16;
	color: white;
}
#spanname{
	margin-top: 3px;
}
#spanschool{
	margin-top: 3px;
}
#searchschoolbyname{
	margin-left: 1%;
	margin-top: 10px;
	width: 125px ;
	height: 40px;
	font-size: 24px;
	border: 1px gray solid;
	text-align: center;
	border-radius: 25px;
	background: white;
	color: black;
}
#searchschoolbyname:hover{
	background: #80DC16;
	color: white;
}
#seachschoolbylocation{
	margin-left: 23%;
	margin-top: -41px;
	width: 125px ;
	height: 40px;
	font-size: 24px;
	border: 1px gray solid;
	text-align: center;
	border-radius: 25px;
	background: white;
	color: black;
}
#seachschoolbylocation:hover{
	background: #80DC16;
	color: white;
}
#spanschoollocation{
	margin-top: 5px;
}
#spanschoolname{
	margin-top: 5px;
}
#bdtdsearch{
	width: 20px;
}
#lookteacher{
	font-size: 24px;
	text-align: center;
}
#lookat{
	position: absolute;
	text-align: center;
	margin-left: 135px;
	margin-top: 10px;
}